<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>

    <!-- Adding in bookstrap v4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- jQuery include for bootstrap-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <!-- Custom over-riding css -->
    <link rel='stylesheet' href='/css/global.css' />
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Navbar</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>

                {{#if user}}
                    <li><a class="nav-link" href="/dashboard/">Dashboard</a></li>
                    <li><a class="nav-link" href="/schedule/">Schedule</a></li>
                    <li><a class="nav-link" href="/search/">Search</a></li>
                {{else}}
                    <!-- Default Links -->
                    <li><a class="nav-link" href="/is/">Product</a></li>
                    <li><a class="nav-link" href="/universities/">Universities</a></li>
                    <li><a class="nav-link" href="/help/">Help</a></li>

                    <!-- User login/registration -->
                    <li><a class="nav-link" href="/login/">Login</a></li>
                    <li><a class="nav-link" href="/register/">Register</a></li>

                {{/if}}
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>


{{{body}}}


</body>
</html>