"use strict";
module.exports = {
    'secretCookieCode': 'some super secret long string here',
    
	// To have a foreign MongoDB connection with a password, use something like this:
	/*'dbConnectionString': 'mongodb://jy1299:your_password_here@class-mongodb.cims.nyu.edu/jy1299'*/
	'dbConnectionString': 'mongodb://localhost/meeter'

	/**
     * AWS Settings
     */
    accessKeyId: "some access key here",
    secretAccessKey: "some secret key here",
    bucket: "the name of your bucket",
    region: "which region your bucket is in"
};
