<h1>Meeter | {{title}}</h1>

<!-- Any error message -->
{{#each errors}}
    <div class="alert alert-{{this.alertType}} alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{this.message}}
    </div>
{{/each}}

<!-- Login form -->
<form method="post" action="">
    <div class="form-group row">
    <label class="col-xs-2 col-form-label">Username:</label>
    <div class="col-xs-10">
    <input class="form-control" type="text" placeholder="Username" name="username">
    </div>
    </div>

    <div class="form-group row">
    <label class="col-xs-2 col-form-label">Password:</label>
    <div class="col-xs-10">
    <input class="form-control" type="password" placeholder="Password" name="password">
    </div>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>
